<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9a9f89d8-3017-4bb9-b0af-a9e65073b499" Version="1.0.0.0" Publisher="CN=VindicatorL" />
  <Properties>
    <DisplayName>BulgarianTvGuide</DisplayName>
    <PublisherDisplayName>VindicatorL</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="BulgarianTvGuide" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="BulgarianTvGuide" ForegroundText="light" BackgroundColor="#010D26">
        <DefaultTile ShowName="allLogos" WideLogo="images\stretchlogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#010D26" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>